In [52]:
import pandas as p

In [98]:
data={"name":p.Series(["aman","asbdj","hjdgcj","hjdgcj","abc"],index=[1,2,3,4,5]),"class":p.Series(["1st","2nd","3rd","3rd"],index=[1,2,3,4]),"roll no.":p.Series([1,2,3,3],index=[1,2,3,4],dtype=int)}
print(data)

{'name': 1      aman
2     asbdj
3    hjdgcj
4    hjdgcj
5       abc
dtype: object, 'class': 1    1st
2    2nd
3    3rd
4    3rd
dtype: object, 'roll no.': 1    1
2    2
3    3
4    3
dtype: int32}

In [99]:
abc=p.DataFrame(data)
print(abc)

     name class  roll no.
1    aman   1st       1.0
2   asbdj   2nd       2.0
3  hjdgcj   3rd       3.0
4  hjdgcj   3rd       3.0
5     abc   NaN       NaN

In [100]:
abc.to_csv("xyz.csv")

In [94]:
pqr=p.read_csv("xyz.csv")
print(pqr)

   Unnamed: 0    name class  roll no.
0           1    aman   1st       1.0
1           2   asbdj   2nd       2.0
2           3  hjdgcj   3rd       3.0
3           4  hjdgcj   3rd       3.0
4           5     abc   NaN       NaN

In [95]:
pqr=abc.drop_duplicates()
print(pqr)

     name class  roll no.
1    aman   1st       1.0
2   asbdj   2nd       2.0
3  hjdgcj   3rd       3.0
5     abc   NaN       NaN

In [96]:
stu=pqr.dropna()
print(stu)

     name class  roll no.
1    aman   1st       1.0
2   asbdj   2nd       2.0
3  hjdgcj   3rd       3.0

In [97]:
mno=pqr.fillna("abhh")
print(mno)

     name class roll no.
1    aman   1st        1
2   asbdj   2nd        2
3  hjdgcj   3rd        3
5     abc  abhh     abhh

In [71]:
a=p.read_csv("practice.csv")
print(a)

   Unnamed: 0    name class  roll no.
0           1    aman   1st       1.0
1           2   asbdj   2nd       2.0
2           3  hjdgcj   3rd       3.0
3           3  hjdgcj   3rd       3.0
4           5  dssfgh   NaN       NaN

In [72]:
a=a.drop_duplicates()
print(a)

   Unnamed: 0    name class  roll no.
0           1    aman   1st       1.0
1           2   asbdj   2nd       2.0
2           3  hjdgcj   3rd       3.0
4           5  dssfgh   NaN       NaN

In [73]:
b=a.dropna()
print(b)

   Unnamed: 0    name class  roll no.
0           1    aman   1st       1.0
1           2   asbdj   2nd       2.0
2           3  hjdgcj   3rd       3.0

In [74]:
c=a.fillna("abhh")
print(c)

   Unnamed: 0    name class roll no.
0           1    aman   1st        1
1           2   asbdj   2nd        2
2           3  hjdgcj   3rd        3
4           5  dssfgh  abhh     abhh

In [75]:
print(a['roll no.'].max())

3.0

In [76]:
d = pd.read_csv('stackdatasetex.csv')
print(d)

      name  age employment_status state  salary
0    Anush   23               emp    pb    1000
1   Ankush   32             unemp    pb    2000
2   Alisha   21               emp    pb    3000
3    Rohit   34               emp    hp    4000
4    Komal   26             unemp    hr    5000
5  Karthik   29               emp    hr    6000

In [77]:
print(d['salary'].max())

6000

In [78]:
e=d['employment_status'].value_counts()   
print(e)

emp      4
unemp    2
Name: employment_status, dtype: int64

In [79]:
f=d['state'].value_counts()   
print(f)

pb    3
hr    2
hp    1
Name: state, dtype: int64

In [80]:
g=d.groupby(["state"])['salary'].count()
print(g)

state
hp    1
hr    2
pb    3
Name: salary, dtype: int64

In [81]:
h=d.groupby(["state"])['salary'].min()
print(h)

state
hp    4000
hr    5000
pb    1000
Name: salary, dtype: int64

In [82]:
d["state"].unique()

array(['pb', 'hp', 'hr'], dtype=object)

In [83]:
d["state"].nunique()

3

In [102]:
d = pd.read_csv('stackdatasetex.csv')
af=d.describe()
print(af)
print(d)

             age       salary
count   6.000000     6.000000
mean   27.500000  3500.000000
std     5.089204  1870.828693
min    21.000000  1000.000000
25%    23.750000  2250.000000
50%    27.500000  3500.000000
75%    31.250000  4750.000000
max    34.000000  6000.000000
      name  age employment_status state  salary
0    Anush   23               emp    pb    1000
1   Ankush   32             unemp    pb    2000
2   Alisha   21               emp    pb    3000
3    Rohit   34               emp    hp    4000
4    Komal   26             unemp    hr    5000
5  Karthik   29               emp    hr    6000

In [104]:
z= pd.read_csv('ign.csv')
af=z.describe()
print(af)
#print(z)

         Unnamed: 0         score  release_year  release_month   release_day
count  18625.000000  18625.000000  18625.000000    18625.00000  18625.000000
mean    9312.000000      6.950459   2006.515329        7.13847     15.603866
std     5376.718717      1.711736      4.587529        3.47671      8.690128
min        0.000000      0.500000   1970.000000        1.00000      1.000000
25%     4656.000000      6.000000   2003.000000        4.00000      8.000000
50%     9312.000000      7.300000   2007.000000        8.00000     16.000000
75%    13968.000000      8.200000   2010.000000       10.00000     23.000000
max    18624.000000     10.000000   2016.000000       12.00000     31.000000